# Author: Sandesh Basnet

# Diabetes Prediction

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC

In [2]:
df= pd.read_csv('./Datasets/diabetes.csv')

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [5]:
df.shape

(768, 9)

In [6]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [7]:
df.groupby(['Outcome']).mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [8]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
X = df.drop(['Outcome'], axis = 1)
y = df['Outcome']

In [11]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [12]:
X_train, X_test, y_train, y_test =train_test_split(X, y, 
                                                   test_size= 0.2, 
                                                   stratify=y)

In [13]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

In [14]:
from sklearn.pipeline import Pipeline

In [15]:
pipeline_logistic = Pipeline([('scaler1', StandardScaler()), 
                        ('logistic', LogisticRegression())])
pipeline_rand = Pipeline([('scaler2', StandardScaler()), 
                        ('rand_forest', RandomForestClassifier())])
pipeline_dtree = Pipeline([('scaler3', StandardScaler()), 
                        ('dtree', DecisionTreeClassifier())])

In [16]:
pipelines = [pipeline_dtree,
            pipeline_logistic,
            pipeline_rand]

In [17]:
pipelines

[Pipeline(steps=[('scaler3', StandardScaler()),
                 ('dtree', DecisionTreeClassifier())]),
 Pipeline(steps=[('scaler1', StandardScaler()),
                 ('logistic', LogisticRegression())]),
 Pipeline(steps=[('scaler2', StandardScaler()),
                 ('rand_forest', RandomForestClassifier())])]

In [18]:
for pipe in pipelines:
    pipe.fit(X_train, y_train)

In [19]:
pipe_dict = {0: 'DT', 
            1: 'LR',
            2:'RF'}

In [20]:
for index, model in enumerate(pipelines):
    print(f'{pipe_dict[index]} Test Accuracy: {model.score(X_test, y_test)}')

DT Test Accuracy: 0.7207792207792207
LR Test Accuracy: 0.7532467532467533
RF Test Accuracy: 0.7467532467532467

In [21]:
logis= LogisticRegression()

In [22]:
logis.fit(X, y)

C:\Users\Dell\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

# Predictive Model

In [23]:
new_data = pd.DataFrame({
    'Pregnancies':6,
    'Glucose':148.0,
    'BloodPressure':72.0,
    'SkinThickness':35.0,
    'Insulin':79.799479,
    'BMI':33.6,
    'DiabetesPedigreeFunction':0.627,
    'Age':50,    
},index=[0])

In [24]:
result = logis.predict(new_data)

In [25]:
if result == 0:
    print('Non-Diabetic')
else:
    print('Diabetic')

Diabetic

raw_data= (10,168,74,0,0,38,0.537,34)
data= np.asarray(raw_data).reshape(1, -1)
scaled_data= scaler.transform(data)
prediction= logistic.predict(scaled_data)
print(prediction)

if (prediction[0] == 0):
    print('The person do not have diabetes')
else:
    print('The person have diabetes')

raw_data= (5,117,92,0,0,34.1,0.337,38)
data= np.asarray(raw_data).reshape(1, -1)
scaled_data= scaler.transform(data)
prediction= logistic.predict(scaled_data)
print(prediction)

if (prediction[0] == 0):
    print('The person do not have diabetes')
else:
    print('The person have diabetes')